// Стили для всех компонентов
@font-face {
  font-family: "Roboto-Thin";
  src: local(Roboto Thin), url("./roboto/Roboto-Thin.eot");
  src: url("./roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("./roboto/Roboto-Thin.woff2") format("woff2"), url("./roboto/Roboto-Thin.woff") format("woff"), url("./roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto-Light";
  src: local(Roboto Light), url("./roboto/Roboto-Light.eot");
  src: url("./roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("./roboto/Roboto-Light.woff2") format("woff2"), url("./roboto/Roboto-Light.woff") format("woff"), url("./roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Regular";
  src: local(Roboto Regular), url("./roboto/Roboto-Regular.eot");
  src: url("./roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./roboto/Roboto-Regular.woff2") format("woff2"), url("./roboto/Roboto-Regular.woff") format("woff"), url("./roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./roboto/Roboto-Medium.eot");
  src: url("./roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./roboto/Roboto-Medium.woff2") format("woff2"), url("./roboto/Roboto-Medium.woff") format("woff"), url("./roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./roboto/Roboto-Bold.eot");
  src: url("./roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./roboto/Roboto-Bold.woff2") format("woff2"), url("./roboto/Roboto-Bold.woff") format("woff"), url("./roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

//@import "_variables";
//@import "_mixins";
//@import "modules/_buttons";
//@import "modules/_pluginMessage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  html, body {
    height: 100%;
  }

  body {
    font-family: "Roboto", sans-serif;

    #__nuxt {
      height: 100%;

      #__layout {
        height: 100%;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
  }

  a {
    text-decoration: none;
  }

  // Стили для полосы прокрутки
  ::-webkit-scrollbar-button {
    width: 8px;
    height: 0;
  }

  ::-webkit-scrollbar-track {
    background-color: #b7b7b782;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 28px;
    border-radius: 28px;
    background-color: #313435;
    transition: 0.3s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #464444;

  }

  ::-webkit-resizer {
    width: 8px;
    height: 0;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  // Классы Скрытия или показа элементов
  .hide {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }

  .display-none {
    display: none;
  }

  .display-block {
    display: block;
  }
}